#banner {
    border-bottom: 5px solid rgba(213, 63, 67, 1);
    height: 200px;
    width: 100%;
    background-image: url(../content/banniere.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#main-logo img{
    margin-top: -50px;  
    filter: drop-shadow(1.5px 1.5px 0.3px #00000096);
    height: 180px;
    width: auto;
}
#banner #social-btn a{
    display:inline-block;
    font-size: 2.5em;
    height:3.5rem;
    width:3.5rem;
    color: rgb(255, 255, 255);    
    filter: drop-shadow(1.5px 1.5px 0.3px #00000096);
}

.navbar{
    
    height: 50px;
    width: 100%;
    background-color: #B2DFD9   ;
}

.navbar a{
    font-family: aleoregular;
    font-size: 1.3em;
    color: antiquewhite;
}

/* navbar hover */
.collapse a:hover{
    font-family: aleobold;
    background-color: rgba(0, 0, 0, 0.5)
}

.navbar-brand img{
    height: 20px;

}

.navbar button i {
    padding: 6px 10px;
    border-radius: 5px;
    display:inline-block;
    border: 2px solid rgb(78, 148, 137);
}

.navbar #social-btn a{
    display:inline-block;
    font-size: 1.5em;
    height:2rem;
    width:2rem;
    color: rgb(255, 255, 255);
}
